@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .leaflet-container {
  background: white;
}

body .leaflet-bottom {
  display: none;
}

body .svg-container {
  margin: auto !important;
}

body .plotly .draglayer {
  cursor: pointer !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
